//
//  Secrets.xcconfig.example
//  DeskClock
//
//  Created by Oscar PALISSOT on 04/08/2026.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

API_BASE_URL = https:/$()/your-api-domain.example.com/v1/
OFFICE_LATITUDE = 0.0
OFFICE_LONGITUDE = 0.0
